@charset "utf-8";
/* CSS Document */

body {
	background-image: url(images/beachNet.jpg);
	background-position: 0% 0%;
	background-size: cover;
}
h1 {
	background-color: #53ADD4;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	margin-right: -50px;
	padding-right: 0px;
	right: 0px;
	margin-left: -50px;
	
}
p1 {
	background-color: #8FD5FC;
	display: block;
	font-size: 20pt;
	
}
h3 {
	background-color: #8FD5FC;
	font-size: 20pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
nav {
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	margin-right: -1px;
	right: 0px;
	display: block;
	background-color: #53ADD4;
	text-align: center;
}

p2 {
	background-color: #72D8ED;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: center;
	display: block;
	margin-right: 370px;
	margin-left: 370px;
	margin-top: 15px;
	font-size: 27px;
}
.img {
	width: 110%;
	height: 500px;
	align-content: center;
	background-color: undefined;
}
span {
	background-color: #8FD5FC;
}
p3 {
	background-color: #8FD5FC;
	display: block;
	margin-right: 318px;
	margin-left: 318px;
	text-align: center;
	font-size: 23px;
}
